.message-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background: #f9f9f9;

  .message {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    max-width: 70%;
    word-wrap: break-word;

    &:not(:first-child) {
      margin-top: 10px;
    }

    &.user-message {
      align-self: flex-start;
      background: #d1f7c4;
    }

    &.bot-message {
      align-self: flex-end;
      background: #f1f1f1;
    }

    .message-content {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .message-user {
        font-weight: bold;
        font-size: 14px;
        color: #333;
      }

      .message-text {
        font-size: 14px;
      }
    }

    .message-timestamp {
      font-size: 12px;
      text-align: right;
      margin-top: 5px;
      color: #888;
    }
  }
}
